*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

.Modern {
  text-align: center;
  padding: 50px 20px;
  font-size: 1em;
  letter-spacing: .2em;
  box-sizing: border-box;
}

div {
  background-color: #dadada;
  width: 100%;
  float: left;
  position: relative;
}

h1 {
  font-size: 1.7em;
  position: absolute;
  top: 2em;
  left: 2em;
}

img {
  width: 100%;
}
