*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  box-sizing: border-box;
  margin: 20px;
  width: 50%;
  position: static;
}

div {
  background-color: #fff;
  width: 100%;
  padding: 1px;
  display: inline-block;
}

img {
  width: 45%;
}

.Modern {
  box-sizing: border-box;
  padding: 50px 20px;
}
h1 {
  position: relative;
}
